body{
    background-color: rgb(250, 246, 246);
}


#titulo{
    text-align: center;
}
p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img{
    border: 1px black;
}